.Gif {
    display: flex;
    margin: 16px;
    flex-direction: column;
    padding: 32px;
    width: 100%;
}

.title {
    color: grey;
    text-align: center;
    font-size: 15px;
}

.img-gif {
    width: 200px;
}


