.gif {
    border: 1px solid #eee;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    display: flex;
    margin: 16px;
    flex-direction: column;
    padding: 32px;
    width: 100%;
}

.gif h4 {
    margin: 8px 0;
}

.gif small {
    margin: 15px 0;
}

.gif img {
    margin: auto;
    width: 300px;
}

